body {
    margin: 0;
    font-family: Roboto;
    background: orange;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons {
    width: 60%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
}
.icons i {
    font-size: 2.2em;
}
